<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block page_meta %}{% endblock page_meta %}


    <title>{% block title %}{{title}}{% endblock title%}</title>


    {# Vendor styles #}
    {% block vendor_css %}
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    {% endblock %}


    {# Global styles #}
    {% block site_css %}
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/main.css' %}" />
    {% endblock site_css %}


    {# Page-specific styles #}
    {% autoescape off %}{% block page_css %}{% endblock page_css %}{% endautoescape %}


    {% block extra_head %}{# Extra header stuff (metadata, etc) #}{% endblock extra_head %}
</head>

<body>
    {% block content %}
    {% endblock content %}

    {# Vendor JS #}
    {% block vendor_js %}
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% endblock vendor_js %}

    {# Global styles #}
    {% block site_js %}
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock site_js %}

    {# Page-specific js #}
    {% autoescape off %}
        {% block page_js %}{% endblock page_js %}
    {% endautoescape %}

    {% block extra_js %}{% endblock extra_js %}
</body>

</html>
