<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Титульная страница{% endblock title%}</title>
</head>
<body>
    <header role="banner">
        <!-- Логотип системы или организации -->
        <div role="img">
            {% block logo %}{% endblock logo%}
        </div>
        <div role="marquee">
            {% block header %}
                <h1><a href="http://www.lenta.ru/">Лента</a></h1>
            {% endblock header%}
        </div>
    </header>

    <nav role="navigation">
        {% block nav %}
            <a href = "https://www.tutorialspoint.com/index.htm">Home</a>
            <a href = "https://www.tutorialspoint.com/codingground.htm">Coding Ground</a>
            <a href = "https://www.tutorialspoint.com/about/about_careers.htm">Jobs</a>
            <a href = "https://www.tutorialspoint.com/whiteboard.htm">Whiteboard</a>
            <a href = "https://www.tutorialspoint.com/online_dev_tools.htm">Tools</a>
            <a href = "https://www.tutorialspoint.com/business/index.asp">Corporate Training</a>
        {% endblock nav%}
    </nav>


    <h2 class="demo">Tutorialspoint</h2>


    <main role="main">
        {% block content %}{% endblock content%}
    </main>

    <aside>
        {% block sidebar %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
        {% endblock sidebar%}
    </aside>

    <footer role="contentinfo">
        {% block footer %}
            <p>
                <a href="/license">Лицензионное соглашение</a><br/>
                Copyright © 2016. SomeSite.com
            </p>
        {% endblock footer%}
    </footer>
</body>
</html>