{% extends "site_footer.html" %}


{% block header_account_actions %}
    <div class="d-flex justify-content-end">
        <div class="btn-group me-2">
            <div class="dropdown  align-content-center">
                <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if request.user.is_authenticated %}
                        <span class="auth-user">{{ request.user }}</span>
                    {% else %}
                        <span class="auth-user">Работа в системе</span>
                    {% endif %}
                </button>
                <ul class="dropdown-menu">
                    {% if request.user.is_authenticated %}
                        <li><a class="dropdown-item" href=/accounts/logout/>Выход из системы</a></li>
                        <li><a class="dropdown-item" href="#">Учётная запись</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href=/accounts/login/>Вход в систему</a></li>
                        <li><a class="dropdown-item" href=/accounts/signup/>Регистрация в системе</a></li>
                    {% endif %}
                </ul>
            </div><!-- class="dropdown" -->
        </div><!-- class="btn-group" -->
    </div><!-- class="d-flex justify-content-end" -->
{% endblock header_account_actions %}


{% block main_content %}
    {% if request.user.is_authenticated %}
        {% block main_users_content %}
            <div>
                Список сообщений
            </div>
        {% endblock main_users_content %}
    {% else %}
        {% block main_visitors_content %}
            <div>
                Собственно какой-то контент с информацией о сервисе
            </div>
        {% endblock main_visitors_content %}
    {% endif %}
{% endblock main_content %}
