{% extends base %}

{% block title %}{{ title }}{% endblock title %}

{% block grid_areas %}
    {% if user.is_authenticated %}
        grid-template-areas: 'avatar header header user'
                            'aside aside menu menu'
                            'aside aside content content'
                            'footer footer footer footer';
    {% else %}
        grid-template-areas: 'avatar header header user'
                            'aside aside content content'
                            'aside aside content content'
                            'footer footer footer footer';
    {% endif %}
{% endblock grid_areas %}

{% block page_css %}
    {% if not user.is_authenticated %}
        <style>
            .container > nav {
                display: none;
            }
        </style>
    {% endif %}
{% endblock page_css %}

{% block auth_user %}
    {% if user.is_authenticated %}
        {{ user.last_name }} {{ user.first_name }}<br>
        <a href="/accounts/logout/">Выйти из системы</a>
    {% else %}
        <a href="/accounts/login/">Войти в систему</a><br>
        <a href="/accounts/signup/">Зарегестрироваться</a>
    {% endif %}
{% endblock auth_user %}