{% extends "content.html" %}
{% load static %}

{% block site_header %}
    <header class="header header-top py-md-2 flex-container">
        <div class="container-fluid">
            <div class="row">

                <div class="logo-top col-1 text-center align-content-center">
                    {% block site_header_logo_top %}
                        <img src="{% static 'images/postman.jpeg' %}" class="rounded-circle" alt="Лого">
                    {% endblock site_header_logo_top %}
                </div>

                <div class="header-logo-title col-8 align-content-center">
                    {% block site_header_logo_title %}
                        <div class="h1 text-center">
                            Управление сообщениями
                        </div>
                    {% endblock site_header_logo_title %}
                </div>

                <div class="header-top-account col-3 align-content-center">
                    {% block site_header_account_actions %}
                    {% endblock site_header_account_actions %}
                </div> <!-- class="header-top-account -->

            </div><!-- class="row" -->
        </div><!-- class="container-fluid" -->
    </header>
{% endblock site_header %}

